.library {
    text-align: center;
    margin-top: 20px;
}

.search-bar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #2ecc71;
}

.book-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.book-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.book-item img {
    margin-bottom: 10px;
    border-radius: 5px;
}

.book-item h3 {
    font-size: 18px;
    margin: 10px 0;
}

.book-item p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.book-actions button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-actions button:hover {
    background-color: #2980b9;
}
