@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

/* Menú lateral */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.library h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.book-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-item img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.book-actions button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
